*{margin:0; padding:0; border:0;}
a{text-decoration:none; color:#89B3CC; font-size:8pt}
a:hover{text-decoration:underline; color:#A2DCDE;}

body {
	width: 887px;
	margin:0 auto;
	font: normal 10pt "Comic sans MS", Tahoma, Verdana, sans-serif, Arial;
	color:#8d8d8d;
	background: #ededed; 
}

/*///////////////////////////////////  GLOBAL  //////////////////////////*/
#global {
	margin:0 auto;
	float:left;
	width:900px;
	background:#ededed url(../images/fondcontenu.png) repeat-y left top;
}

/*///////////////////////////////////  HEADER  //////////////////////////*/
#header {
	width:900px;
	height:301px;
	font-weight:bold;
	text-transform:uppercase;
	background:#ededed url(../images/header.png) no-repeat left top; 
}

/*///////////////////////////////////  MENU  A GAUCHE //////////////////////////*/
#menu {
	float:left;
	display:inline;
	width:177px;
	text-align:left;
	margin:0 0 0 50px;
}
#menu h2 {
	width:177px;
	height:30px;
	line-height:30px;
	font-size:10pt;
	margin:0;
	padding:0 0 0 10px;
	color:#8d8d8d;
	background: url(../images/rubrique.png) no-repeat left top;
}
#menu ul {
	margin:0 0 15px 0;
	width:162px;
	font-size:10pt;
	list-style:none;
}

#menu ul li {
	width:177px;
}

#menu ul li {
	display:block;
	margin:0px;
	padding:0 0 0 20px;
	width:177px;
	height:29px;
	line-height:29px;
	text-decoration:none;
	background: url(../images/lien.png) no-repeat left top;
}

#menu ul li a {
	color:#89B3CC;
}

#menu ul li a:hover {
	text-decoration:underline;
}

/*///////////////////////////////////  CORPS  //////////////////////////*/
#corps {
	margin:0 40px 0 225px;
	padding:10px;
}

.floatl {
	float:left;
	padding-right:1em;
	margin:0;
}


#corps h1 {
	color:#89B3CC;
	margin:0 10px 10px;
	padding:0 5px;
	font: bold 15pt Tahoma,Verdana,sans-serif, Arial;
	text-align: center;
}
#corps p {
	color:#8d8d8d;
	text-indent:15px;
	margin:5px 5px 5px 0;
}
#corps p a {
	color:#89B3CC;
}

#corps p.right {
	margin-right:15px;
	text-align:right;
	font-weight:bold;
	font-size:9px;
	letter-spacing:1px;
	color:#8d8d8d;
}

/*///////////////////////////////////  FOOTER  //////////////////////////*/
p#footer {
	clear:both;
	width:900px;
	height:98px;
	padding-top:30px;
	font-size:9px;
	text-align:center;
	color:#8d8d8d;
	background:#ededed url(../images/footer.png) no-repeat left top;
}

p#footer a{
color:#89B3CC;
}

table
{
	width: 80%;
	margin-left: 10%;
	border-collapse: collapse;
}

th
{
	border: solid 1px #8d8d8d;
}

td
{
	border: solid 1px #8d8d8d;
	text-align: center;
}

td.case_avatar
{
	border: none;
}

.lien_numero_pages
{
	text-align: center;
}

#corps h2, #corps h3
{
	text-align: center;
}

.news
{
	border: solid 1px #8d8d8d;
}

.com
{
	border-top: solid 1px #8d8d8d;
	text-align: center;
}

.com_affichage
{
	border-bottom: solid 1px #8d8d8d;
}